@import '../../styles/mixins/breakpoints.scss';

.title {
  text-align: center;

  @include media-max-width($sm) {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }

  h1 {
    color: var(--bgDarkColor);
    font-weight: var(--font-weight-heavy-bold);
    font-size: 90px;
    margin: 0;
    padding: 30px 0;

    @include media-max-width($sm) {
      font-size: 56.25px;
    }
  }
}

.wrapperCardList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(50vh - 60px);
  padding: 81px 0;
  background: var(--bgDarkColor);

  @include media-max-width($sm) {
    padding: 27px;
  }

  .loading {
    color: var(--color-white);
    font-size: 25px;
    display: flex;
    margin: 50px 0 10px;
  }
}

.cardList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
}

.isLoading {
  padding-bottom: 0;

  @include media-max-width($sm) {
    padding-bottom: 0;
  }
}
