@import '../../../styles/mixins/breakpoints.scss';

.wrapperAvatar {
  width: 100%;
  flex: 2 1 0%;

  .avatar {
    width: 100%;
    height: 100%;
    opacity: 1;
    object-position: center center;
    object-fit: cover;
    margin: 0;
    transition: opacity 0.5s ease 0s;

    @include media-max-width($sm) {
      height: 300px;
    }
  }
}

.wrapperContent {
  position: relative;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex: 3 1 0%;
  padding: 13.5px;

  @include media-max-width($sm) {
    height: 200px;
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }

  .section + .section {
    @include media-max-width($sm) {
    }
  }

  a {
    color: var(--color-dark-white);
    text-decoration: none;
    line-height: var(--line-height-large);

    &:hover {
      color: var(--warningColor);
    }
    h2 {
      font-size: 27px;
      margin: 0;
      line-height: 29.7px;
    }
  }

  span {
    font-size: var(--fontSize);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-medium);
  }

  .status {
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .statusIcon {
    height: 9px;
    width: 9px;
    margin-right: 6.75px;
    border-radius: 50%;
  }

  .statusAlive {
    background: var(--successColor);
  }

  .statusDead {
    background: var(--dangerColor);
  }

  .statusUnknown {
    background: var(--secondaryColor);
  }

  .textGray {
    color: var(--secondaryColor);
  }

  .simpleLink {
    font-size: 18px;
  }
}
